In [145]:
import pandas as pd

# Receive Input

In [131]:
def prepare_input_data(file_path):
    df = pd.read_csv('output.txt')
    
    index_of_pred = (df == 'predicciones').idxmax().observaciones
    
    df_in = df.iloc[:index_of_pred].copy()
    df_in[['observacion', 'U', 'V', 'T']] = df_in['observaciones'].str.split(expand=True)
    df_in.drop(columns=['observaciones', 'T'], inplace=True)
    df_in = df_in.astype(int)
    
    df_out = df.iloc[index_of_pred + 1:].copy()
    df_out.rename({'observaciones': 'predicciones'}, axis=1, inplace=True)
    df_out[['fecha', 'hora', 'U', 'V', 'T']] = df_out['predicciones'].str.split(expand=True)
    df_out['date_time'] = pd.to_datetime(df_out['fecha'] + ' ' + df_out['hora'], format='%Y-%m-%d %H:%M')
    df_out.drop(columns=['predicciones', 'T', 'fecha', 'hora'], inplace=True)
    df_out = df_out[['date_time', 'U', 'V']] 
    df_out = df_out.astype({'U': 'int', 'V': 'int64'})
    df = df.sort_values(by='date_time')
    
    return df_in, df_out

In [132]:
ob_df, pred_df = prepare_input_data('output.txt')

display(ob_df, pred_df)

KeyError: 'date_time'

In [114]:
pred_df.dtypes

datetime    datetime64[ns]
U                    int64
V                    int64
dtype: object

In [113]:
pred_df = pred_df.astype({'U': 'int', 'V': 'int64'})

In [146]:
df = pd.read_csv('output.txt')

index_of_pred = (df == 'predicciones').idxmax().observaciones

df_out = df.iloc[index_of_pred + 1:].copy()
df_out.rename({'observaciones': 'predicciones'}, axis=1, inplace=True)
df_out

                    predicciones
457  2009-10-25 23:00 -10 3 2902
458  2009-10-20 14:00 -9 -9 2897
459  2009-10-25 23:00 -10 3 2902
460  2009-10-20 14:00 -9 -9 2897
461  2009-10-25 23:00 -10 3 2902
462  2009-10-20 14:00 -9 -9 2897
463  2009-10-25 23:00 -10 3 2902
464  2009-10-20 14:00 -9 -9 2897
465  2009-10-25 23:00 -10 3 2902
466  2009-10-20 14:00 -9 -9 2897
467  2009-10-25 23:00 -10 3 2902
468  2009-10-20 14:00 -9 -9 2897
469  2009-10-25 23:00 -10 3 2902
470  2009-10-20 14:00 -9 -9 2897
471  2009-10-25 23:00 -10 3 2902
472  2009-10-20 14:00 -9 -9 2897
473  2009-10-25 23:00 -10 3 2902
474  2009-10-20 14:00 -9 -9 2897

In [147]:
df_out[['fecha', 'hora', 'U', 'V', 'T']] = df_out['predicciones'].str.split(expand=True)
df_out

                    predicciones       fecha   hora    U   V     T
457  2009-10-25 23:00 -10 3 2902  2009-10-25  23:00  -10   3  2902
458  2009-10-20 14:00 -9 -9 2897  2009-10-20  14:00   -9  -9  2897
459  2009-10-25 23:00 -10 3 2902  2009-10-25  23:00  -10   3  2902
460  2009-10-20 14:00 -9 -9 2897  2009-10-20  14:00   -9  -9  2897
461  2009-10-25 23:00 -10 3 2902  2009-10-25  23:00  -10   3  2902
462  2009-10-20 14:00 -9 -9 2897  2009-10-20  14:00   -9  -9  2897
463  2009-10-25 23:00 -10 3 2902  2009-10-25  23:00  -10   3  2902
464  2009-10-20 14:00 -9 -9 2897  2009-10-20  14:00   -9  -9  2897
465  2009-10-25 23:00 -10 3 2902  2009-10-25  23:00  -10   3  2902
466  2009-10-20 14:00 -9 -9 2897  2009-10-20  14:00   -9  -9  2897
467  2009-10-25 23:00 -10 3 2902  2009-10-25  23:00  -10   3  2902
468  2009-10-20 14:00 -9 -9 2897  2009-10-20  14:00   -9  -9  2897
469  2009-10-25 23:00 -10 3 2902  2009-10-25  23:00  -10   3  2902
470  2009-10-20 14:00 -9 -9 2897  2009-10-20  14:00   -9  -9  2897
471  2009-10-25 23:00 -10 3 2902  2009-10-25  23:00  -10   3  2902
472  2009-10-20 14:00 -9 -9 2897  2009-10-20  14:00   -9  -9  2897
473  2009-10-25 23:00 -10 3 2902  2009-10-25  23:00  -10   3  2902
474  2009-10-20 14:00 -9 -9 2897  2009-10-20  14:00   -9  -9  2897

In [148]:
df_out['date_time'] = pd.to_datetime(df_out['fecha'] + ' ' + df_out['hora'], format='%Y-%m-%d %H:%M')
df_out

,predicciones,fecha,hora,U,V,T,date_time
457,2009-10-25 23:00 -10 3 2902,2009-10-25,23:00,-10,3,2902,2009-10-25 23:00:00
458,2009-10-20 14:00 -9 -9 2897,2009-10-20,14:00,-9,-9,2897,2009-10-20 14:00:00
459,2009-10-25 23:00 -10 3 2902,2009-10-25,23:00,-10,3,2902,2009-10-25 23:00:00
460,2009-10-20 14:00 -9 -9 2897,2009-10-20,14:00,-9,-9,2897,2009-10-20 14:00:00
461,2009-10-25 23:00 -10 3 2902,2009-10-25,23:00,-10,3,2902,2009-10-25 23:00:00
462,2009-10-20 14:00 -9 -9 2897,2009-10-20,14:00,-9,-9,2897,2009-10-20 14:00:00
463,2009-10-25 23:00 -10 3 2902,2009-10-25,23:00,-10,3,2902,2009-10-25 23:00:00
464,2009-10-20 14:00 -9 -9 2897,2009-10-20,14:00,-9,-9,2897,2009-10-20 14:00:00
465,2009-10-25 23:00 -10 3 2902,2009-10-25,23:00,-10,3,2902,2009-10-25 23:00:00
466,2009-10-20 14:00 -9 -9 2897,2009-10-20,14:00,-9,-9,2897,2009-10-20 14:00:00
467,2009-10-25 23:00 -10 3 2902,2009-10-25,23:00,-10,3,2902,2009-10-25 23:00:00
468,2009-10-20 14:00 -9 -9 2897,2009-10-20,14:00,-9,-9,2897,2009-10-20 14:00:00
469,2009-10-25 23:00 -10 3 2902,2009-10-25,23:00,-10,3,2902,2009-10-25 23:00:00
470,2009-10-20 14:00 -9 -9 2897,2009-10-20,14:00,-9,-9,2897,2009-10-20 14:00:00
471,2009-10-25 23:00 -10 3 2902,2009-10-25,23:00,-10,3,2902,2009-10-25 23:00:00
472,2009-10-20 14:00 -9 -9 2897,2009-10-20,14:00,-9,-9,2897,2009-10-20 14:00:00
473,2009-10-25 23:00 -10 3 2902,2009-10-25,23:00,-10,3,2902,2009-10-25 23:00:00
474,2009-10-20 14:00 -9 -9 2897,2009-10-20,14:00,-9,-9,2897,2009-10-20 14:00:00

In [149]:
df_out.drop(columns=['predicciones', 'T', 'fecha', 'hora'], inplace=True)
df_out

       U   V           date_time
457  -10   3 2009-10-25 23:00:00
458   -9  -9 2009-10-20 14:00:00
459  -10   3 2009-10-25 23:00:00
460   -9  -9 2009-10-20 14:00:00
461  -10   3 2009-10-25 23:00:00
462   -9  -9 2009-10-20 14:00:00
463  -10   3 2009-10-25 23:00:00
464   -9  -9 2009-10-20 14:00:00
465  -10   3 2009-10-25 23:00:00
466   -9  -9 2009-10-20 14:00:00
467  -10   3 2009-10-25 23:00:00
468   -9  -9 2009-10-20 14:00:00
469  -10   3 2009-10-25 23:00:00
470   -9  -9 2009-10-20 14:00:00
471  -10   3 2009-10-25 23:00:00
472   -9  -9 2009-10-20 14:00:00
473  -10   3 2009-10-25 23:00:00
474   -9  -9 2009-10-20 14:00:00

In [150]:
df_out.dtypes

U                    object
V                    object
date_time    datetime64[ns]
dtype: object

In [151]:
df_out = df_out[['date_time', 'U', 'V']]
df_out

              date_time    U   V
457 2009-10-25 23:00:00  -10   3
458 2009-10-20 14:00:00   -9  -9
459 2009-10-25 23:00:00  -10   3
460 2009-10-20 14:00:00   -9  -9
461 2009-10-25 23:00:00  -10   3
462 2009-10-20 14:00:00   -9  -9
463 2009-10-25 23:00:00  -10   3
464 2009-10-20 14:00:00   -9  -9
465 2009-10-25 23:00:00  -10   3
466 2009-10-20 14:00:00   -9  -9
467 2009-10-25 23:00:00  -10   3
468 2009-10-20 14:00:00   -9  -9
469 2009-10-25 23:00:00  -10   3
470 2009-10-20 14:00:00   -9  -9
471 2009-10-25 23:00:00  -10   3
472 2009-10-20 14:00:00   -9  -9
473 2009-10-25 23:00:00  -10   3
474 2009-10-20 14:00:00   -9  -9

In [152]:
df_out = df_out.astype({'U': 'int', 'V': 'int64'})
df_out.dtypes

date_time    datetime64[ns]
U                     int64
V                     int64
dtype: object

In [153]:
# # Corrected column name here
# df_out['date_time'] = pd.to_datetime(df_out['date_time'])
# df_out.dtypes

In [154]:
df_out = df_out.sort_values(by='date_time')
df_out

              date_time   U  V
474 2009-10-20 14:00:00  -9 -9
458 2009-10-20 14:00:00  -9 -9
472 2009-10-20 14:00:00  -9 -9
460 2009-10-20 14:00:00  -9 -9
462 2009-10-20 14:00:00  -9 -9
470 2009-10-20 14:00:00  -9 -9
464 2009-10-20 14:00:00  -9 -9
466 2009-10-20 14:00:00  -9 -9
468 2009-10-20 14:00:00  -9 -9
471 2009-10-25 23:00:00 -10  3
469 2009-10-25 23:00:00 -10  3
457 2009-10-25 23:00:00 -10  3
473 2009-10-25 23:00:00 -10  3
463 2009-10-25 23:00:00 -10  3
461 2009-10-25 23:00:00 -10  3
459 2009-10-25 23:00:00 -10  3
467 2009-10-25 23:00:00 -10  3
465 2009-10-25 23:00:00 -10  3

In [135]:
ob_df, pred_df = prepare_input_data('output.txt')

display(ob_df, pred_df)

KeyError: 'date_time'